.chatInputArea {
  background: #fff;
  padding: 12px 15px;
  box-shadow: 0 -2px 8px #0001;
  display: flex;
  align-items: center;
  gap: 12px;
  position: sticky;
  bottom: 0;
}
.chatInputBox {
  flex: 1;
  padding: 13px 10px;
  border-radius: 10px;
  border: none;
  font-size: 0.7rem;
  outline: none;
  background: #fff;
  color: #000;
} 