@page "/counter"
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>


<input type="text" @bind="bindValue" @oninput="OnChange" />

<div>bindValue:@bindValue</div>


@code {
    private int currentCount = 0;
    private string bindValue = string.Empty;

    private void IncrementCount()
    {
        currentCount++;
    }

    private void OnChange(ChangeEventArgs e)
    {
        bindValue = e.Value?.ToString() ?? string.Empty;
    }
}
