@inherits LayoutComponentBase
@using ragchat.Models
@using ragchat.Services
@using ragchat.Components.organisms
@inject IChatService ChatService
@inject IJSRuntime JSRuntime

<div class="page">
    @* <div class="sidebar">
        <NavMenu Sessions="sessions"
                 ActiveSessionId="activeSessionId"
                 OnSessionSelect="HandleSessionSelect"
                 OnDeleteSession="HandleDeleteSession"
                 OnNewChat="HandleNewChat"
                 OnToggle="ToggleSidebar" />
    </div> *@

    <main>
        <div class="top-row px-4">
            <div class="chatHeader">
                <span class="logo">LocalRAG Chat</span>
            </div>
        </div>
        <article class="content">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    // private List<Session> sessions = new();
    // private string? activeSessionId;
    // private bool loaded = false;
}
