@inherits LayoutComponentBase
@using ragchat.Models
@using ragchat.Services
@using ragchat.Components.organisms
@inject ISessionService SessionService
@inject IJSRuntime JSRuntime
@inject ILogger<MainLayout> Logger

<div class="page">
    <CascadingValue Value="this">
        @Body
    </CascadingValue>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
